

import requests # дл€ создани€ запросов к ресурсам VK и яндекс.ƒиска из Python


from pprint import pprint # дл€ вывода данных, представленных в формате json


import json # дл€ преобразовани€ данных в формат json


from progress.bar import IncrementalBar # дл€ отслеживани€ в консоли процесса выполнени€ кода


import time # дл€ написани€ кода прогресс-бара


from datetime import datetime # дл€ создани€ при каждом вызове уникального названи€ папки дл€ сохранени€ файлов на яндекс-ƒиске


import os # дл€ получени€ пути до файла в текущей рабочей директории на компьютере